# ignore specific folders
data/
examples/
movies/
notes/
outputs/
PyESPER/
writing/
pyTRACE/

# ignore temporary or system files
*.pyc
__pycache__/
*.egg-info/
.DS_Store
Dockerfile
.dockerignore
.vscode
.env
*.asv
